@media (max-width: 1199px)
  .container
    max-width: 960px
  .swiper
    &-container
      
@media (max-width: 991px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      &__list
        padding-top: 22px
        padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: calc(100% - 40px)
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      padding: 0
      width: 16px
      height: 11px
      border: none
      outline: none
      background-color: #ffffff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 20px
    &-info
      &__text
        width: 100%
      &__stars
        margin-right: 16px
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__offer
        order: -1
        margin-left: 0
      &__rating
        display: none
    &-name
      flex-basis: 100%
      font-weight: 700
    &-wrapper
      justify-content: space-between
  .stars
    flex-basis: auto

@media (max-width: 575px)
  .logo
    width: 99px

@media (min-width: 320px) and (max-width: 479px)
  .container
    min-width: 280px
