.footer
  padding-top: 108px
  padding-bottom: 46px
  color: $light
  background-color: $dark
  &-wrapper
    display: grid
    // grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-template-columns: 285px 285px 345px 1fr
    // grid-gap: 20px
    // grid-auto-rows: minmax(40px, min-content)
    grid-template-rows: 177px 45px 90px 318px
    align-items: start
    margin-bottom: 95px
  &__logo
    align-self: center
    grid-row: 1 / 3
    margin-top: 17px
    &-pic
      width: 154px

  &__categories
    grid-row: 1 / 4
  &__social
    &-links
      display: flex
      align-items: flex-end
      justify-content: space-between
      min-width: 83px
    &-network
      display: flex
      align-content: end
      grid-row: 2 / 4
      grid-column: span 2
  &__contact
    &-details
      grid-column: span 2
    &-form
      grid-column: span 2
  &__form
    display: flex
    // align-items: center
    align-content: end
    flex-wrap: wrap
    justify-content: space-between
    &-wrapper
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
  &__ul
    padding: 0
    margin: 0
    list-style: none

  &__title
    margin-top: 0
    margin-bottom: 16px
    font-weight: 700
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    &--inline
      margin: 18px 44px 0 0
    &--mb-3
      margin-bottom: 34px
    &--mb-19
      margin-bottom: 19px
    &--mt-12
      margin-top: 12px
      margin-left: -3px
      margin-bottom: 24px
  &__item
    display: flex
    align-items: flex-start
    font-weight: 400
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--mb-18
      margin-bottom: 8px
    &--mb-22
      margin-bottom: 22px
  &__icon
    &-wrapper
      min-width: 20px
      margin-right: 18px
      &--pd-3
        padding: 2px 0px
    &--map
      width: 24px
      height: 30px
    &--telephone
      width: 24px
      height: 34px
    &--mail
      width: 25px
      height: 20px
  &__text
    margin-top: 0
    margin-bottom: 22px
    font-weight: 400
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--ml-3
      margin-left: -3px
  &__link
    text-decoration: none
    color: inherit
    &--small-text
      color: $light
      font-weight: 400
      font-size: 12px
      line-height: 15px
    &-social-icon
      width: 100%
      height: 100%
    &--lh-1
      width: 20px
      height: 20px
      line-height: 1
  &__telephone
    // min-width: 228px
    // letter-spacing: 0.0px
    &-wrapper
      display: flex
      flex-direction: column
    &-br
      display: none
  &__input
    width: 100%
    &-group
      flex-basis: 255px
      margin-bottom: 15px
  &__message
    flex-basis: 100%
    margin-bottom: 22px
  &__button
    // min-width: 160px
    // min-height: 50px
    // padding: 17px
    // font-weight: 700
    // font-size: 12px
    // line-height: 15px
    // color: $light
    // border-radius: 4px
    // background-color: $primary
    // border: none
    // outline: none
  &__info
    font-weight: 700
    font-size: 12px
    line-height: 15px
    color: $footer-text-color
    &--mr-1
      margin-right: 1px
  &__disclaimer
    display: grid
    grid-template-columns: repeat(3, 1fr)
    &-ul
      padding: 0
      margin: 0
      &--grid-settings
        display: flex
        align-items: center
        justify-content: space-between
        grid-column: 2
        justify-self: center
        margin-top: 7px
        width: 283px
    &-item
      display: flex
      align-items: flex-start
      font-weight: 400
      font-size: 14px
      line-height: 160%
      color: $footer-text-color
  &__image
    grid-column: 3
    justify-self: end
    width: 136px
    height: 22px
