.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__name
      margin-top: 4px
      margin-bottom: 0
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__description
      margin: 0
  &-name
    font-size: 24px
    font-weight: 600
    line-height: 30px
    text-transform: uppercase
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
  &-right
    display: flex
    flex-direction: column
    justify-content: space-between

.stars
  flex-basis: 100%

.offer
  padding: 4px 9px
  font-size: 10px
  font-weight: 600
  line-height: 13px
  color: $light
  background-color: $primary
  border-radius: 3px

.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  color: $light
  border-radius: 4px
  background-color: $primary
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: 700
    font-size: 14px
    line-height: 18px
  &__counter-total
    font-weight: 600
    font-size: 10px
    line-height: 13px

.swiper
  &-container
    position: relative
    width: 100%
    height: 450px
    border-radius: 8px
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 10
      width: 100%
      height: 100%
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
  &-slider
    &__image
      width: 100%
      height: 100%
      object-fit: cover

.slider
  width: 728px

  &-button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 20
    width: 30px
    height: 30px
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-size: 10px
    background-color: transparent
    outline: none
    &--prev
      left: 16px
      background-image: url('../img/arrow-prev.svg')
    &--next
      right: 16px
      background-image: url('../img/arrow-next.svg')

.booking
  padding: 27px
  width: 350px
  min-height: 210px
  color: $light
  border-radius: 8px
  background-color: $dark
  &__info
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-family: Nunito
    font-weight: 400
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-family: Nunito
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    margin-top: -4px
    font-family: Nunito
    font-weight: 400
    font-size: 12px
    line-height: 16px
  &__room
    margin-top: 4px
  &__text
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
    font-family: Nunito
    font-weight: 400
    font-size: 12px
    line-height: 16px
  &__description
    margin-left: 9px
  &__call-center
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 17px
  &__heading
    font-family: Nunito
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    display: flex
    align-items: center
    justify-content: space-between
    font-family: Nunito
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: inherit
    text-decoration: none
  &__num
    margin-left: 8px
  &__button
    width: 100%
    min-height: 45px
    font-family: Nunito
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: $light
    border-radius: 4px
    background-color: $primary
    border: 0
    outline: 0
    cursor: pointer

.map
  width: 350px
  height: 213px
  background-color: black
  border-radius: 8px
